services:
  eps-backend:
    build: .
    image: eps-backend
    environment:
      - DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@postgres:5432/${DB_NAME}?schema=public
      - PORT=${PORT:-3000}
    ports:
      - "${PORT:-3000}:3000"
    depends_on:
      - postgres

  postgres:
    image: postgres:16-alpine
    container_name: eps-db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
